<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration page</title>
    <link rel="stylesheet" href="{%static 'css/my_style.css'%}">
  </head>
  <body>
    <h1>Registration page</h1>
    <form class="" action="index.html" method="post">
      Name: <input type="text" name="" value="" placeholder="Enter your name here">
      <br>
      <br>
      Age: <input type="text" name="" value="" placeholder="Enter your age here">
      <br>
      <br>
      Gender: <input type="text" name="" value="" placeholder="Enter Gender">
      <br>
      <br>
      Phone_number:<input type="text" name="" value="" placeholder="Enter your valid phone number">
      <br>
      <br>
      Email : <input type="text" name="" value="" placeholder="Enter your mail address here">
      <br>
      <br>
      <button type="button" name="button">Submit</button>
    </form>
    <br>
  <h2>{{insert_me}} </h2>
    <br>
    <img src="{%static 'image/HOPE.jpeg'%}" alt="hope">
    </body>
</html>
